@import url("/assets/css/bootstrap.min.css");
@import url("/assets/css/bootstrap-icons.css");
@import url("/assets/css/boxicons.min.css");
@import url("/assets/css/animate.min.css");
@import url("/assets/css/jquery-ui.css");
@import url("/assets/css/swiper-bundle.min.css");
@import url("/assets/css/slick.css");
@import url("/assets/css/slick-theme.css");
@import url("/assets/css/jquery.fancybox.min.css");
@import url("/assets/css/style.css");

/* Next.js compatibility helpers */
html, body { margin: 0; padding: 0; }
main { display: block; }


/* WOW animation flicker fix */
main .wow {
  visibility: hidden;
}

main .wow.animated {
  visibility: visible;
}


.dropdown-icon {
  display: none !important;
}

@media (max-width: 991px) {
  .dropdown-icon {
    display: block !important;
  }
}
.menu-item-has-children:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
}@media (min-width: 992px) {
  .menu-item-has-children > .sub-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .menu-item-has-children.desktop-dropdown-open > .sub-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}